:root {
  --primary-color: #83FFFF; /*turquoise*/
  --secondary-color: #A7F205; /*lime-green*/
  --tertiary-color: #F189EA; /*pink*/
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

.wrapper {
  margin: 0 auto;
  width: 576px;
}

#hero {
  background-image: url("hero.jpg");
  height: 300px;
  max-width: 100%;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}

#bio {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
    font-size: 1.35rem;
    text-align: center;
}

footer {
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
  text-align: center;
}

p {
    margin-bottom: 0;
}

img {
    height: 150px;
    width: 200px;
}

nav {
    background-color: var(--primary-color);
}

nav ul {
    margin: 0;
    padding: 0;
    float: right;
}

nav ul li {
    display: inline-block;
    position: relative;
}

nav ul a {
    color: var(--tertiary-color);
    text-decoration: none;
    display: block;
    padding: 50px 20px 50px 20px;
    font-size: 1.25rem;
}

nav ul a:hover {
    color: var(--secondary-color);
    text-decoration: none;
}

.content {
    padding: 20px 0 20px 0;
    font-size: 1.25rem;
}

.content:nth-child(even) {
    background-color: var(--tertiary-color);
    color: var(--primary-color);
}

.content:nth-child(odd) {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
}

#fresh1 {
    background-image: url("freshImage1.jpg");
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}

#fresh2 {
    background-image: url("freshImage2.jpg");
    height: 450px;
    width: 100%;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
